@use "./variables";

html {
  font-size: 62.5%; // 10/16 = 62.5% = 10px;
}

body {
  font-family: "League Spartan";
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.6;
}

#root {
  height: 100vh;
  background-color: hsl(222, 26%, 31%);
  color: hsl(0, 0%, 100%);

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 45rem;
}
