#default {
  .app {
    background-color: hsl(222, 26%, 31%);
    color: hsl(0, 0%, 100%);
  }
}

#light {
  .app {
    background-color: hsl(0, 0%, 90%);
    color: hsl(60, 10%, 19%);
  }

  .screen {
    background-color: hsl(0, 0%, 100%);
  }

  .theme-switch {
    &__switch {
      background-color: hsl(0, 6%, 82%);
    }
  }
}

#dark {
  .app {
    background-color: hsl(268, 75%, 9%);
    color: hsl(52, 100%, 62%);
  }
}

.app {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  min-width: 45rem;
  max-width: 50vw;
}

// Media queries
@media (max-width: 475px) {
  .container {
    min-width: auto;
    max-width: none;
    width: 100%;
    padding: 0 2.4rem;
  }
}
