#default {
  .panel {
    background-color: hsl(223, 31%, 20%);

    .btn {
      &--number {
        background-color: hsl(30, 25%, 89%);
        color: hsl(221, 14%, 31%);
        box-shadow: 0 0.3rem 0 0 hsl(28, 16%, 65%);

        &:hover {
          background-color: hsl(0, 0%, 100%);
        }
      }

      &--functional {
        background-color: hsl(225, 21%, 49%);
        color: hsl(0, 0%, 100%);
        box-shadow: 0 0.3rem 0 0 hsl(224, 28%, 35%);

        &:hover {
          background-color: hsl(224, 51%, 76%);
        }
      }

      &--equals {
        background-color: hsl(6, 63%, 50%);
        color: hsl(0, 0%, 100%);
        box-shadow: 0 0.3rem 0 0 hsl(6, 70%, 34%);

        &:hover {
          background-color: hsl(6, 93%, 67%);
        }
      }
    }
  }
}

#light {
  .panel {
    background-color: hsl(0, 5%, 81%);

    .btn {
      &--number {
        background-color: hsl(45, 7%, 89%);
        color: hsl(60, 10%, 19%);
        box-shadow: 0 0.3rem 0 0 hsl(35, 11%, 61%);

        &:hover {
          background-color: hsl(0, 0%, 100%);
        }
      }

      &--functional {
        background-color: hsl(185, 42%, 37%);
        color: hsl(0, 0%, 100%);
        box-shadow: 0 0.3rem 0 0 hsl(185, 58%, 25%);

        &:hover {
          background-color: hsl(185, 59%, 51%);
        }
      }

      &--equals {
        background-color: hsl(25, 98%, 40%);
        color: hsl(0, 0%, 100%);
        box-shadow: 0 0.3rem 0 0 hsl(25, 99%, 27%);

        &:hover {
          background-color: hsl(25, 100%, 50%);
        }
      }
    }
  }
}

#dark {
  .panel {
    background-color: hsl(268, 71%, 12%);

    .btn {
      &--number {
        background-color: hsl(268, 47%, 21%);
        color: hsl(52, 100%, 62%);
        box-shadow: 0 0.3rem 0 0 hsl(290, 70%, 36%);

        &:hover {
          background-color: hsl(269, 48%, 47%);
        }
      }

      &--functional {
        background-color: hsl(281, 89%, 26%);
        color: hsl(0, 0%, 100%);
        box-shadow: 0 0.3rem 0 0 hsl(285, 91%, 52%);

        &:hover {
          background-color: hsl(281, 90%, 40%);
        }
      }

      &--equals {
        background-color: hsl(176, 100%, 44%);
        color: hsl(198, 20%, 13%);
        box-shadow: 0 0.3rem 0 0 hsl(177, 92%, 70%);

        &:hover {
          background-color: hsl(176, 100%, 59%);
        }
      }
    }
  }
}

.panel {
  width: 100%;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(4, minmax(7.2rem, 1fr));
  grid-template-rows: repeat(5, minmax(3.6rem, 1fr));
  gap: 2.4rem;
  padding: 3.2rem;

  .btn {
    border: none;
    border-radius: 0.8rem;

    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s;

    &:active {
      box-shadow: none;
      transform: translateY(4px);
    }

    &--number {
      font-size: 2.8rem;
    }

    &--functional {
      font-size: 2.2rem;
    }

    &--0 {
      grid-row: 4;
      grid-column: 2 / 3;
    }

    &--1 {
      grid-row: 3;
      grid-column: 1 / 2;
    }

    &--2 {
      grid-row: 3;
      grid-column: 2 / 3;
    }

    &--3 {
      grid-row: 3;
      grid-column: 3 / 4;
    }

    &--4 {
      grid-row: 2;
      grid-column: 1 / 2;
    }

    &--5 {
      grid-row: 2;
      grid-column: 2 / 3;
    }

    &--6 {
      grid-row: 2;
      grid-column: 3 / 4;
    }

    &--7 {
      grid-row: 1;
      grid-column: 1 / 2;
    }

    &--8 {
      grid-row: 1;
      grid-column: 2 / 3;
    }

    &--9 {
      grid-row: 1;
      grid-column: 3 / 4;
    }

    &--plus {
      grid-row: 2;
      grid-column: 4 / 5;
    }

    &--minus {
      grid-row: 3;
      grid-column: 4 / 5;
    }

    &--multiply {
      grid-row: 4;
      grid-column: 4 / 5;
    }

    &--divide {
      grid-row: 4;
      grid-column: 3 / 4;
    }

    &--dot {
      grid-row: 4;
      grid-column: 1 / 2;
    }

    &--del {
      grid-row: 1;
      grid-column: 4 / 5;
    }

    &--reset {
      grid-row: 5;
      grid-column: 1 / 3;
    }

    &--equals {
      grid-row: 5;
      grid-column: 3 / 5;

      font-size: 2.4rem;
    }
  }
}

// Media queries
@media (max-width: 475px) {
  .panel {
    gap: 1.2rem;
    grid-template-columns: auto;
  }
}
